In [11]:
import pandas
result = pandas.read_csv('animals.csv',index_col=0)

# TWO Hands

In [13]:
# imports 

import csv
import os
import numpy as np

# Create Csv file for the first time

landmarks = ['class']
for val in range(1, 75+1):
    landmarks += ['x{}'.format(val), 'y{}'.format(val), 'z{}'.format(val), 'v{}'.format(val)]

with open('two_hands.csv', mode='w', newline='') as f:#your_csv_file
    csv_writer = csv.writer(f, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csv_writer.writerow(landmarks)

In [14]:
two_hands = result.loc[~result[['x34','x55']].isin(['nan']).any(axis=1)]

In [16]:
two_hands.to_csv('two_hands.csv', mode='a', header=False)

# Right Hand

In [21]:
# imports 

import csv
import os
import numpy as np

# Create Csv file for the first time

landmarks = ['class']
for val in range(1, 55):
    landmarks += ['x{}'.format(val), 'y{}'.format(val), 'z{}'.format(val), 'v{}'.format(val)]

with open('right.csv', mode='w', newline='') as f:#your_csv_file
    csv_writer = csv.writer(f, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csv_writer.writerow(landmarks)

In [22]:
right = result.loc[result['x55'].isin(['nan'])]

In [23]:
right=right.loc[:,:'v54']
right.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,z52,v52,x53,y53,z53,v53,x54,y54,z54,v54
class,,,,,,,,,,,,,,,,,,,,,
alligator,0.478979,0.607264,-1.107811,0.999271,0.486487,0.532174,-1.013941,0.999234,0.500401,0.527597,...,-0.266227,0.0,0.596840,0.584267,-0.235974,0.0,0.580397,0.575220,-0.213766,0.0
alligator,0.519517,0.600977,-1.077262,0.999095,0.512957,0.514560,-0.996168,0.998971,0.522994,0.507209,...,-0.184504,0.0,0.426077,0.592752,-0.199423,0.0,0.420820,0.524089,-0.212547,0.0
alligator,0.524506,0.565823,-1.092834,0.998769,0.548833,0.504607,-1.010225,0.998558,0.563172,0.501076,...,-0.437930,0.0,0.654946,0.702256,-0.503758,0.0,0.656918,0.642977,-0.552260,0.0
alligator,0.502902,0.605288,-0.961533,0.998162,0.526034,0.539349,-0.890606,0.998001,0.539835,0.534723,...,-0.352576,0.0,0.362711,0.592841,-0.381951,0.0,0.364193,0.566084,-0.398503,0.0
alligator,0.528420,0.622362,-0.877465,0.997725,0.550167,0.556134,-0.800738,0.997288,0.562854,0.553788,...,-0.323971,0.0,0.388794,0.695723,-0.370352,0.0,0.380451,0.634501,-0.406411,0.0

In [24]:
right.to_csv('right.csv', mode='a', header=False)

# Left Hand

In [25]:
# imports 

import csv
import os
import numpy as np

# Create Csv file for the first time

landmarks = ['class']
for val in range(1, 55):
    landmarks += ['x{}'.format(val), 'y{}'.format(val), 'z{}'.format(val), 'v{}'.format(val)]

with open('left.csv', mode='w', newline='') as f:#your_csv_file
    csv_writer = csv.writer(f, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csv_writer.writerow(landmarks)

In [26]:
left = result.loc[result['x34'].isin(['nan'])]
len(left.columns)
left.columns.get_loc("v33")

131

In [27]:
import numpy as np

In [28]:
left=left[left.columns[np.concatenate([range(0,132),range(216,300)])]]
left.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,z73,v73,x74,y74,z74,v74,x75,y75,z75,v75
class,,,,,,,,,,,,,,,,,,,,,
alligator,0.504653,0.501438,-1.113041,0.999985,0.535648,0.431105,-1.005373,0.999963,0.557160,0.430072,...,0.033592,0.0,0.906918,0.595527,0.038140,0.0,0.917459,0.572870,0.046223,0.0
alligator,0.500935,0.539563,-1.045076,0.999919,0.520752,0.473767,-0.984447,0.999883,0.536487,0.469937,...,-0.271975,0.0,0.617976,0.573256,-0.291905,0.0,0.639037,0.620868,-0.296293,0.0
alligator,0.487400,0.552141,-1.104038,0.999810,0.504464,0.486472,-1.060450,0.999769,0.519468,0.480389,...,-0.377150,0.0,0.715934,0.520150,-0.447898,0.0,0.721946,0.567832,-0.487953,0.0
alligator,0.473660,0.588771,-1.037465,0.999395,0.493472,0.526752,-0.966889,0.999363,0.504056,0.522080,...,-0.314230,0.0,0.611534,0.661773,-0.343764,0.0,0.598274,0.725422,-0.358115,0.0
alligator,0.489490,0.620058,-1.273346,0.999388,0.498322,0.540646,-1.195517,0.999354,0.510079,0.533313,...,-0.458487,0.0,0.640508,0.454229,-0.539636,0.0,0.626528,0.451554,-0.608550,0.0

In [29]:
left.to_csv('left.csv', mode='a', header=False)