In [22]:
import pandas
result = pandas.read_csv('animals.csv',index_col=0)

# TWO Hands

In [7]:
# imports 

import csv
import os
import numpy as np

# Create Csv file for the first time

landmarks = []
for val in range(1, 76):
    landmarks += ['x{}'.format(val), 'y{}'.format(val), 'z{}'.format(val), 'v{}'.format(val)]

with open('Two_hands.csv', mode='w', newline='') as f:#your_csv_file
    csv_writer = csv.writer(f, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csv_writer.writerow(landmarks)

In [8]:
two_hands = result.loc[~result[['x34','x55']].isna().any(axis=1)]

In [9]:
two_hands.to_csv('Two_hands.csv', mode='a', header=False)

# Right Hand

In [10]:
# imports 

import csv
import os
import numpy as np

# Create Csv file for the first time

landmarks = ['class']
for val in range(1, 55):
    landmarks += ['x{}'.format(val), 'y{}'.format(val), 'z{}'.format(val), 'v{}'.format(val)]

with open('right.csv', mode='w', newline='') as f:#your_csv_file
    csv_writer = csv.writer(f, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csv_writer.writerow(landmarks)

In [12]:
right = result.loc[result['x55'].isna()]

In [13]:
right=right.loc[:,:'v54']
right.head()

,y1,z1,v1,x2,y2,z2,v2,x3,y3,z3,...,z52,v52,x53,y53,z53,v53,x54,y54,z54,v54
x1,,,,,,,,,,,,,,,,,,,,,
0.422146,0.248164,-0.607796,0.999955,0.440177,0.201438,-0.573195,0.999932,0.453254,0.201412,-0.573275,...,-0.040526,0.0,0.339834,0.416935,-0.028961,0.0,0.328788,0.430910,-0.023400,0.0
0.428018,0.163984,-0.606642,0.999915,0.446284,0.109269,-0.519027,0.999882,0.461747,0.107870,-0.519205,...,-0.012149,0.0,0.187861,-0.019693,-0.003965,0.0,0.193751,-0.005790,0.005066,0.0
0.459183,0.138108,-0.787778,0.999954,0.474349,0.093117,-0.719262,0.999930,0.484959,0.094625,-0.719434,...,0.001808,0.0,0.250473,0.131999,0.002648,0.0,0.248911,0.111494,0.003687,0.0
0.485949,0.202389,-0.406702,0.999938,0.502164,0.170122,-0.369804,0.999898,0.512832,0.177811,-0.369910,...,-0.005485,0.0,0.566307,0.486691,0.008672,0.0,0.558646,0.491392,0.012735,0.0
0.448866,0.144186,-0.556401,0.999906,0.465541,0.103190,-0.525677,0.999889,0.475211,0.104110,-0.525768,...,-0.058224,0.0,0.388124,0.444733,-0.041657,0.0,0.378199,0.448306,-0.040655,0.0

In [14]:
right.to_csv('right.csv', mode='a', header=False)

# Left Hand

In [15]:
# imports 

import csv
import os
import numpy as np

# Create Csv file for the first time

landmarks = ['class']
for val in range(1, 55):
    landmarks += ['x{}'.format(val), 'y{}'.format(val), 'z{}'.format(val), 'v{}'.format(val)]

with open('left.csv', mode='w', newline='') as f:#your_csv_file
    csv_writer = csv.writer(f, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csv_writer.writerow(landmarks)

In [23]:
left = result.loc[result['x34'].isna()]
len(left.columns)
left.columns.get_loc("v33")

131

In [24]:
import numpy as np

In [25]:
left=left[left.columns[np.concatenate([range(0,132),range(216,300)])]]
left.head()

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,z73,v73,x74,y74,z74,v74,x75,y75,z75,v75
class,,,,,,,,,,,,,,,,,,,,,
alligator,0.504653,0.501438,-1.113041,0.999985,0.535648,0.431105,-1.005373,0.999963,0.557160,0.430072,...,0.033592,0.0,0.906918,0.595527,0.038140,0.0,0.917459,0.572870,0.046223,0.0
alligator,0.500935,0.539563,-1.045076,0.999919,0.520752,0.473767,-0.984447,0.999883,0.536487,0.469937,...,-0.271975,0.0,0.617976,0.573256,-0.291905,0.0,0.639037,0.620868,-0.296293,0.0
alligator,0.487400,0.552141,-1.104038,0.999810,0.504464,0.486472,-1.060450,0.999769,0.519468,0.480389,...,-0.377150,0.0,0.715934,0.520150,-0.447898,0.0,0.721946,0.567832,-0.487953,0.0
alligator,0.473660,0.588771,-1.037465,0.999395,0.493472,0.526752,-0.966889,0.999363,0.504056,0.522080,...,-0.314230,0.0,0.611534,0.661773,-0.343764,0.0,0.598274,0.725422,-0.358115,0.0
alligator,0.489490,0.620058,-1.273346,0.999388,0.498322,0.540646,-1.195517,0.999354,0.510079,0.533313,...,-0.458487,0.0,0.640508,0.454229,-0.539636,0.0,0.626528,0.451554,-0.608550,0.0

In [26]:
left.to_csv('left.csv', mode='a', header=False)